<div class="fun-facts-grid">
    <div class="example-action-buttons mb-3" *ngIf="funFacts.length > 0">
        <button mat-raised-button color="primary" (click)="accordion.openAll()">Expand All</button>
        <button mat-raised-button color="accent" (click)="accordion.closeAll()">Collapse All</button>
    </div>
    
    <mat-accordion #accordion="matAccordion" multi class="mat-elevation-z2" *ngIf="funFacts.length > 0">
        <mat-expansion-panel *ngFor="let fact of funFacts">
            <div class="fact-header" *ngIf="funFacts.length > 0">
                <div class="fact-col">ID</div>
                <div class="fact-col">Category</div>
                <div class="fact-col">Fun Fact</div>
                <div class="fact-col">Date Created</div>
            </div>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ fact.fact }}
                </mat-panel-title>
                
            </mat-expansion-panel-header>
                <div class="fact-details">
                    <div class="fact-col">{{ fact.id }}</div>
                    <div class="fact-col">{{ fact.category || 'General' }}</div>
                    <div class="fact-col">{{ fact.fact }}</div>
                    <div class="fact-col">{{ fact.createdAt }}</div>
                </div>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="funFacts.length === 0">
        <p>No fun facts found.</p>
    </ng-container>
</div>